* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #252839;
}

h2 {
    position: relative;
    font-size: 100px;
    color: #252839;
    -webkit-text-stroke: 0.3vw #383d52;
}

h2::before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    color: bisque;
    -webkit-text-stroke: 0 #383d52;
    overflow: hidden;
    animation: animate 6s linear infinite;
}
@keyframes animate {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}