* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: black;
}
.loader {
    position: relative;
    width: 120px;
    height: 120px;

}

.loader span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: rotate(calc(18deg * var(--i)));
}

.loader span::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: white;
    box-shadow: 0 0 10px white;
    animation: animate 2s linear infinite;
    animation-delay: calc(-2s + 0.1s * var(--i));
}

@keyframes animate {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}